<!DOCTYPE html>
{% load static %}
{% static ''%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './style1.css' %}">
</head>
<body>
    <section class="section5">
        <div class="container">
            <div class="section5__wrap">
            <div class="section5__info">
                    <div class="section5__title title">
                        <h2>Лечение у нас</h2>
                    </div>
                    <div class="section5__subtitle text__gr">
                        <p>Просто и безболезненно, 
                        с предоставлением всего спектра 
                        стоматологических услуг<p>
                    </div>
                    <div class="section5__block">
                        <div class="section5__block-img">
                            <img src="./static/Слой 2md.png" alt="">
                        </div>
                        <div class="section5__block-text text__b">
                            <p>клиника</p>
                        </div>
                    </div>
                    <div class="section5__text text__b">
                        <p>предоставляет весь спектр 
                            стоматологических услуг таких как : </p>
                    </div>
                    <nav class="section5__block-list ">
                        <ul class="section5__list">
                            <li class="section5__item text__b">Терапия</li>
                            <li class="section5__item text__b">Хирургия</li>
                            <li class="section5__item text__b">Ортодонтия</li>
                        </ul>
                        <ul class="section5__list">
                            <li class="section5__item text__b">Детская стоматология</li>
                            <li class="section5__item text__b">Ортопедия</li>
                        </ul>
                    </nav>
                    <div class="section5__text text__b">
                        <p>Приоритетным направлением является восстановление функциональных возможностей зубочелюстной системы 
                            и профилактика заболевания полости рта.</p>
                    </div>
                    <div class="section5__block-img">
                        <div class="section5__img-item">
                            <img src="./static/_-2 1voxel.png" alt="">
                        </div>
                        <div class="section5__img-item" style="margin-right:20px;">
                            <img src="./static/320x0w 1ortholig.png" alt="">
                        </div>
                        <div class="section5__img-item">
                            <img src="./static/business_logo 1rocada.png" alt="">
                        </div>
                    </div>
            </div>
                <div class="section5__img">
                        <img src="./static/portrait-dentist-taking-selfie-with-patient 2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section6">
        <div class="container">
            <div class="section6__wrap">
            <div class="section6__info">
                    <div class="section6__title title">
                        <h2>Специалисты</h2>
                    </div>
                    <div class="section6__subtitle text__gr">
                        <p>Просто и безболезненно, с предоставлением 
                            всего спектра стоматологических услуг<p>
                    </div>
            </div>
            <nav class="section6__list-block">
                <ul class="section6__list">
                    <li class="section6__block">
                        <div class="section6__block-info">
                            <div class="section6__block-name title">
                                <p>Шац Дарья Сергеевна </p>
                            </div>
                            <div class="section6__block-prof text__b">
                                <p>Директор, Главный врач , Врач ортодонт</p>
                            </div>
                            <div class="section6__block-exp text__b">
                                <p>Стаж работы 11 лет </p>
                            </div>
                        </div>
                        <div class="section6__block-img">
                            <img src="./static/beautiful-young-woman-doctor-posing-white-medical-gown_1-removebg 2.png" alt="">
                        </div>
                    </li>
                    <li class="section6__block" style="position: relative">
                        <div class="section6__block-info">
                            <div class="section6__block-name title">
                                <p>Лыщиков Павел 
                                    Анатольевич</p>
                            </div>
                            <div class="section6__block-prof text__b">
                                <p>Врач стоматолог ортопед, хирург-имплантолог</p>
                            </div>
                            <div class="section6__block-exp text__b">
                                <p>Стаж работы более 15 лет</p>
                            </div>
                        </div>
                        <div class="section6__block-img">
                            <img src="./static/dentist-man-holding-tools-isolated-white-wall-laughing 1.png" alt="">
                        </div>
                    </li>
                    <li class="section6__block">
                        <div class="section6__block-info">
                            <div class="section6__block-name title">
                                <p>Терушкина Елена 
                                    Дмитриевна</p>
                            </div>
                            <div class="section6__block-prof text__b">
                                <p>Врач стоматолог детский</p>
                            </div>
                            <div class="section6__block-exp text__b">
                                <p>Стаж работы более 10 лет </p>
                            </div>
                        </div>
                        <div class="section6__block-img">
                            <img src="./static/beautiful-young-woman-doctor-posing-white-medical-gown_1-removebg 2.png" alt="" >
                        </div>
                    </li>
                    
                </ul>
                <ul class="section6__list">
                    <li class="section6__block">
                        <div class="section6__block-info">
                            <div class="section6__block-name title">
                                <p>Оленина Марина 
                                    Николаевна </p>
                            </div>
                            <div class="section6__block-prof text__b">
                                <p>Зам директора, Врач стоматолог терапевт</p>
                            </div>
                            <div class="section6__block-exp text__b">
                                <p>Стаж работы более 25 лет </p>
                            </div>
                        </div>
                        <div class="section6__block-img">
                            <img src="./static/beautiful-young-woman-doctor-posing-white-medical-gown_1-removebg 2.png" alt="">
                        </div>
                    </li>
                    <li class="section6__block" style="position: relative">
                        <div class="section6__block-info">
                            <div class="section6__block-name title">
                                <p>Жирнов Дмитрий 
                                    Александрович </p>
                            </div>
                            <div class="section6__block-prof text__b">
                                <p>Врач стоматолог ортопед, хирург-имплантолог</p>
                            </div>
                            <div class="section6__block-exp text__b">
                                <p>Стаж более 10 лет</p>
                            </div>
                        </div>
                        <div class="section6__block-img">
                            <img src="./static/dentist-man-holding-tools-isolated-white-wall-laughing 1.png" alt="">
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="section7"> 
        <div class="container"> 
            <div class="section7__wrap"> 
                <div class="section7__title title"> 
                    <h2>Сертификаты, награды и дипломы</h2> 
                </div> 
                <div class="section7__carusel"> 
                    <div class="section7__carusel-img"> 
                        <img src="./static/13252040621aca4547cf2323c2b774ce2f89eb 2.png" alt="">
                    </div> 
                    <div class="section7__carusel-img"> 
                        <img src="./static/13252040621aca4547cf2323c2b774ce2f89eb 2.png" alt="">
                    </div> 
                    <div class="section7__carusel-img"> 
                        <img src="./static/13252040621aca4547cf2323c2b774ce2f89eb 2.png" alt="">
                    </div> 
                </div> 
            </div> 
        </div> 
    </section> 
    <script src="./assets/main.js"></script>
</body>
</html>