<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './styl.css' %}">
</head>
<body>
    <section class="section8">
        <div class="container">
            <div class="section8__wrap">
                <div class="section8__info">
                    <div class="section8__title title">
                        <h2>Онлайн консультация специалиста 
                            по аудио и видео связи, Бесплатно.
                        </h2>
                    </div>
                    <div class="section8__text text__b">
                        <p>Укажите вой номер телефона, мы перезвоним и подберем для вас удобное время для консультации.
                            Или позвоните нам сами — <p class="text__blue">+7 900 333 10 40<p> </p>
                    </div>
                    <div class="section8__registration">
                        <div class="section8__input">
                            <input type="tel" value="Телефон">
                        </div>
                        <button class="section8__btn">Записаться на прием</button>
                    </div>
                    <div class="section8__text-min text__gr">
                        <p>Записываясь на услугу вы даёте согласие на <u>обработку своих персональных данных<u></p>
                    </div>
                </div>
                <div class="section8__img">
                    <img src="./static/lithuanian-woman-dentist-holding-tools-isolated-making-phone-gesture-call-me-back-sign_1-removebg 1.png" alt="">
                </div>
            </div>
        </div>
    </section>
</body>
</html>